<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="../scripts/vue.js"></script>
</head>

<body>
  <div id="app">
    <!-- 0. 使用keyup事件调用mehods
  <input type="text" v-model="firstName" @keyup="getFullName">+
  <input type="text" v-model="lastName" @keyup="getFullName">= -->
    <!-- 1. 使用watch监听数据的改变  
  <input type="text" v-model="firstName">+
  <input type="text" v-model="lastName">= -->
    <!-- 2.使用computed属性 -->
    <input type="text" v-model="firstName">+
    <input type="text" v-model="lastName">=
    <!-- <input type="text" :value='getFullNameByComputed'> -->
    <input type="text" v-model='FullName'>
  </div>

  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        firstName: '',
        lastName: '',
        fullName: ''
      },
      methods: {
        // 0. 使用输入框键盘监听事件调用methods实现
        getFullName() {
          this.fullName = this.firstName + ' ' + this.lastName
        }
      },
      watch: {
        // 1. 使用watch监听data中指定数据的变化来实现（可以监听非dom元素的改变（router））
        'firstName': function (newVal) {
          this.fullName = newVal + ' ' + this.lastName
        },
        'lastName': function (newVal) {
          this.fullName = this.firstName + ' ' + newVal
        }
      },
      computed: {
        // 2. 使用computed计算属性监听依赖式响应的改变来进行计算（只要依赖没有发生改变，就不会执行）
        // getFullNameByComputed() {
        //   this.fullName = this.firstName + ' ' + this.lastName
        //   return this.fullName
        // }

        // 1.计算属性直接当作属性使用。不要当作方法
        // 2.只要使用到的数据发生任何变化 都会重新求值
        // 3.计算属性的求值结果会被缓存，方便下次使用。如果内部数据没有改变，计算属性不会重新求值
        'FullName':function(){
          return this.firstName + ' ' + this.lastName
        }
      }
    })
  </script>
</body>

</html>